body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Белый фон для всей страницы */
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    line-height: 1.6;
    padding: 0 20px;
}

/* Контейнер для видеопотока и изображений */
.main-container {
    display: flex;
    justify-content: space-between; /* Контейнеры будут разделены на две части */
    margin: auto;
    padding: 20px;
    background: #ffffff;
}

/* Контейнер для видеопотока (левая часть) */
.video-container {
    margin-right: 10px; /* Отступ от видео до правого контейнера */
}

/* Контейнер для изображений и данных с датчиков (правая часть) */
.right-container {
    flex: 1; /* Правая часть займет оставшуюся ширину */
    max-width: 40%; /* Максимальная ширина правого контейнера */
}

.images {
    display: flex;
    flex-direction: column; /* Изображения будут располагаться друг над другом */
    align-items: center;
    margin-bottom: 20px;
}
 
images img {
    width: 100%; /* Задаем ширину 100% для адаптивности */
    height: auto; /* Сохраняем пропорции */
}

/* Конкретные размеры для изображений */
.platform {
    width: 70%; /* Задаем ширину для platform */
    height: 70%; /* Задаем высоту для platform */
}

.arm {
    width: 70%; /* Задаем ширину для arm */
    height: 70%; /* Задаем высоту для arm */
}

/* Видео */
.video-feed {
    display: block;

    max-height: 972px; /* Ограничиваем максимальную высоту видео */
    margin-bottom: 20px; /* Отступ между видео и изображениями */
}

.data {
    background-color: #ffffff;  /* Белый фон для блока с данными */
    padding: 20px;              /* Отступы вокруг текста */
    margin-top: 20px;
    border-radius: 8px;         /* Скругленные углы */
    max-width: 600px;           /* Ограничиваем ширину */
    margin-left: auto;          /* Центрируем блок */
    margin-right: auto;         /* Центрируем блок */
}

/* Стиль для каждого параграфа внутри блока с данными */
.data p {
    color: #333;                /* Цвет текста */
    font-size: 25px;            /* Размер шрифта */
    margin-bottom: 10px;        /* Отступ между строками */
}

/* Стиль для сильного текста (для названий датчиков) */
.data strong {
    font-weight: bold;          /* Сделать текст жирным */
}
